body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66bfbf;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    padding-bottom: 10px;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    opacity: 50%;
    width: 5%;
    margin: 100px auto;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999e;
}

P {
    line-height: 2;
    color: #40514e;
    font-size: 25px;
}

.top-container {
    background-color: #e0ebe8;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: auto 0;
    padding-top: 20px;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

.footer-link {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.coding-gif {
    border-radius: 80%;
    width: 25%;
    float: left;
    margin-right: 30px;
    width: 400px;
    height: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    font-size: 25px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #0066cc;
    padding: 10px 30px;
    border: solid #0066cc 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 20px;
    transition: 780ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
}

.btn:hover {
    transition: 780ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
    margin-bottom: 0;
}
